body{
  background-color: lightgrey;
}

.calculator{
background-color: black;
width: 300px;
height: 400px;
text-align: center;
border: 2px solid black;
margin-left: auto;
margin-right: auto;
margin-top: 130px;
}
#calculatorLabel{
  font-size: 20px;
  margin-top: 5px;
  color: white;
}
#display{
  margin-left: 5px;
  margin-top: auto;
  margin-right: 5px;
  width: 260px;
  height: 100px;
  text-align: right;
  font-size: 70px;
  font-weight: bold;
  border: 2px solid black;
}
#key{

width: 60px;
height: 40px;
margin-left: 2px;
margin-right: 2px;
margin-top: 5px;
border: 2px solid black;

}
#equalkey{

  width: 130px;
  height: 40px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 5px;
  border: 2px solid black;

}
